.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 5px solid transparent !important;
  border-radius: 20px !important;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  -moz-transition: 200ms linear;
  -o-transition: 200ms linear;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #ff4f5a;
  border-radius: 10px;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  padding: 7px 14px;
  margin-top: 22%;
}

.hovereffect a.info:hover {
  transform: scale(1.1) !important;
  background-color: #ff4f5a;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
}
